@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 350 22% 96%;
    --foreground: 350 1.1% 8%;
    --card: 350 11% 96%;
    --card-foreground: 350 1.1% 13%;
    --popover: 350 22% 98%;
    --popover-foreground: 350 96.1% 6%;
    --primary: 350 87.1% 48.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 350 14.4% 82%;
    --secondary-foreground: 0 0% 0%;
    --muted: 28 14.4% 91%;
    --muted-foreground: 350 1.1% 38%;
    --accent: 28 14.4% 86%;
    --accent-foreground: 350 1.1% 13%;
    --destructive: 0 61% 42%;
    --destructive-foreground: 350 1.1% 96%;
    --border: 350 22.2% 69.2%;
    --input: 350 22.2% 37.2%;
    --ring: 350 88.7% 45.3%;
    --radius: 1.3rem;
    --sidebar-background: 350, 22%, 91%;
    --sidebar-foreground: 350, 1%, 7%;
    --sidebar-primary: 350, 87%, 44%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 28, 14%, 82%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 350, 22%, 66%;
    --sidebar-ring: 340, 98%, 45%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 350 87.1% 48.6%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-6: 39 87% 67%;
    --chart-7: 150 87% 67%;
  }
  
  .dark {
    --background: 207.9 34.8% 7.8%;
    --foreground: 207.9 3.1% 95.6%;
    --card: 207.9 31% 5.6%;
    --card-foreground: 207.9 3.1% 95.6%;
    --popover: 207.9 34.8% 5%;
    --popover-foreground: 207.9 3.1% 95.6%;
    --primary: 207.9 86.3% 48.8%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 207.9 22.4% 15.6%;
    --secondary-foreground: 0 0% 100%;
    --muted: 245.9 22.4% 20.6%;
    --muted-foreground: 207.9 3.1% 62.8%;
    --accent: 245.9 22.4% 20.6%;
    --accent-foreground: 207.9 3.1% 92.8%;
    --destructive: 0 81% 41.2%;
    --destructive-foreground: 207.9 3.1% 95.6%;
    --border: 207.9 26.2% 35.9%;
    --input: 207.9 26.2% 35.9%;
    --ring: 207.9 88.7% 45.3%;
    --sidebar-background: 208, 35%, 10%;
    --sidebar-foreground: 208, 3%, 100%;
    --sidebar-primary: 208, 86%, 39%;
    --sidebar-primary-foreground: 0, 0%, 0%;
    --sidebar-accent: 246, 22%, 18%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 208, 26%, 34%;
    --sidebar-ring: 198, 98%, 45%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 350 87.1% 48.6%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


